@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'variables.scss';

.dd-picker-city {
    .dd-picker {
        width: 220px;
        min-width: 0;
    }
}

.dd-picker-specialty {
    .dd-picker {
        width: 220px;
        min-width: 0;
    }
}
