@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'variables.scss';

.filter-bar {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    .dd-picker {
        min-width: 180px;
        + .dd-picker {
            margin-left: 0.5rem;
        }
    }
    .dd-picker-administration-group {
        min-width: 230px !important;
        flex: 0 0 205px;
    }
}
.resert-btn {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.filter-dropdown {
    width: 200px !important;
}
