@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'variables.scss';

.filter-bar {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    
    .dd-picker {
        min-width: 180px;
        flex: 1;
        min-width: calc(50% - 0.25rem);
        
        @media (max-width: 768px) {
            min-width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}
