@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'variables.scss';

.filter-bar {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    .dd-picker {
        min-width: 180px;
        + .dd-picker {
            margin-left: 0.5rem;
        }
    }
}
